* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    transition: 0.44s, 0.22s, ease-out, opacity;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4286;
    color: #fff;
    color: #000;
    background-color: rgb(43, 43, 48);
    background-color: #fff;
    background: #f4f4f4;
    color: #434A54;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    cursor: pointer;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #d2383b;
}

ul,
ol {
    margin-top: 0px;
    margin-bottom: 10px;
}

a {
    color: #d2383b;
    text-decoration: none;
    font-weight: 500;
}

.main {
    height: 100%;
}

.main-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

.flex-fill {
    display: flex;
    flex-direction: column;
    min-height: 0px;
    min-width: 0px;
    flex: 1 1 0%;
}

.left-wrap {
    height: inherit;
    position: fixed;
    z-index: 99;
}

.left-wrap .app-top {
    margin: 16px 0 0px 20px;
    position: relative;
}

.left-wrap .app-bar {
    z-index: 100;
    width: 68px;
    user-select: none;
    background: rgb(34, 34, 38);
    background: #f1bb63;
    background: #d44a5b;
    background: #e54a55;
    background: #d2383b;
    transition: all 0.22s;
}

.left-wrap .app-bar nav {
    width: 100%;
    flex: 1 1 0%;
}

.left-wrap .app-bar ul {
    min-height: 100vh;
    list-style: none;
    padding: 0px;
}

.app-bar li:first-child {
    margin-top: 10px;
}

.app-bar li.spacer {
    flex: 1;
}

.app-bar .app-bar-link {
    display: block;
    font-size: 25px;
    height: 56px;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
    color: rgba(255, 255, 255, 0.74);
    transition: all .22s ease;
}

.app-bar .app-bar-link .icon {
    color: inherit;
}

.app-bar .app-bar-link.avatar {
    height: auto;
    padding: 8px 8px 0px 8px;
    box-sizing: border-box;
}

.app-bar .app-bar-link.avatar img {
    width: 48px;
    height: 48px;
    border-radius: 100px;
}

.app-bar a.app-bar-link:hover,
.app-bar a.app-bar-link.selected {
    background: #3f51b5;
    background: rgba(0, 0, 0, 0.2);
}

.app-bar a.app-bar-link.selected {
    aborder-left: 5px solid #fff;
}

.app-bar .app-bar-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-size: 10px;
    margin-top: 2px;
    text-decoration: none;
}

.search .search-flex {
    display: flex;
    position: relative;
}

.search .search-form {
    flex: 1;
    position: relative;
}

.search .search-but {
    position: absolute;
    top: 0;
    right: 0;
}

.search input.search-field[type="text"] {
    flex: 1;
    height: inherit;
    padding-right: 30px;
    background: #fff;
}

.search .search-outer {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.users-list {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgba(255, 255, 255, 0.54);
    color: rgba(0, 0, 0, 0.54);
}

.users-list li {
    position: relative;
}

.users-list li.user-item {
    height: 40px;
    margin-bottom: 12px;
    padding-left: 20px;
    padding-right: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.users-list a.user {
    color: inherit;
    text-decoration: none;
    flex: 1;
    display: flex;
}

.users-list li.user-item:hover {
    background: #f1bb63;
    background: rgba(0, 0, 0, 0.1);
    acolor: rgba(255, 255, 255, 0.84);
}

.users-list a.user .name {
    margin: 0px 12px;
    font-weight: 600;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    align-self: center;
    vertical-align: middle;
}

a.user .name:before,
a.name:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 12px;
    background: #a1a1a1;
}

.online a.name:before,
a.user.online .name:before {
    background: #759900;
}

.users-list li.user-item .icon {
    line-height: 2em;
    align-self: center;
    vertical-align: middle;
}

.users-list li.user-item .user-button {
    display: flex;
}

.users-list li.user-item .actions-menu {
    right: 12px;
}

.actions-menu {
    position: absolute;
    background: #fff;
    top: 100%;
    border-radius: 3px;
    margin: auto 0;
    pointer-events: auto;
    text-align: left;
    z-index: 10;
    min-width: 300px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    display: none;
}

.actions-menu.show {
    display: block!important;
}

.actions-menu:before {
    content: '';
    position: absolute;
    right: 8px;
    top: -5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 5px 7px;
    border-color: transparent transparent #ffffff transparent;
}

.actions-menu li a {
    display: block;
    box-sizing: border-box;
    height: 50px;
    line-height: 50px;
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
    color: #666;
    font-weight: 100;
    display: flex;
}

.actions-menu li a .icon {
    font-size: 20px;
    margin-right: 10px;
}

.actions-menu li.loading a {
    display: block;
    height: auto;
    padding: 0px 12px;
    text-align: center;
}

.avatar.middle img {
    height: 40px;
    width: 40px;
}

.avatar.big img {
    height: 100px;
    width: 100px;
}

input.field[type="text"],
div.send-form-area {
    border: 0;
    padding: 6px 12px 7px 12px;
    width: 100%;
    background: #2b2b30;
    background: #f5f8fa;
    color: rgba(255, 255, 255, 0.52);
    color: rgba(0, 0, 0, 0.52);
    cursor: text;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    border-radius: 3px;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}

div.send-form-area:empty:before {
    content: attr(placeholder);
    display: block;
}

input.field[type="text"]:empty {
    font-family: "Segoe UI";
}

.field:hover,
.field:active,
.field:focus,
.field:target,
.icon:hover,
.icon:focus,
.icon:target,
div.send-form-area {
    outline: none;
}

.left-wrap .app-content {
    width: 360px;
    background: #404045;
    background: #f5f8fa;
    background: #fff;
    overflow: hidden;
    transition: .22s transform;
    overflow-y: scroll;
    position: relative;
}

.left-wrap .app-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.left-wrap .app-content::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
    cursor: pointer;
}

.left-wrap .app-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #d2383b;
}

.left-wrap .app-content .loader {
    display: none;
}

.left-wrap .app-content.loading .loader {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.left-wrap .app-content.loading .tab-content {
    display: none;
}

.app-content-wrap {
    position: relative;
    color: #fff;
    color: #000;
    width: 360px;
}

.app-content-wrap ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    text-indent: 0;
}

.app-content-wrap .tree-more {
    float: left;
    width: 20px;
    min-height: 1px;
    line-height: 18px;
    text-align: center;
}

.app-content-wrap .tree-header {
    font-size: 12px;
    font-weight: normal;
    margin: 3px 0 11px 20px;
    color: rgba(255, 255, 255, 0.74);
    color: rgba(0, 0, 0, 0.74);
    margin: 1px 0 8px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    display: inline-block;
    height: 21px;
}

.full-viewport-height {
    height: 100vh;
}

.simple-scrollbar {
    aoverflow-y: auto;
}

.page-content {
    width: calc( 100% - 430px);
    float: right;
    position: relative;
    z-index: 10;
}

.main-col {
    max-width: 600px;
    margin: 15px auto;
}

.user-page {}

.user-page-header {
    max-width: 600px;
    width: 100%;
}

.user-page-header .avatar.big img {
    border-radius: 100px;
}

.user-page-header .user-page-info {
    width: calc( 100% - 105px);
    position: relative;
}

.user-page-info .row {
    display: flex;
    padding: 5px 10px 0px;
    overflow: hidden;
    width: 100%;
}

.user-page-info .row .spacer {
    flex: 1;
}

.user-page-info .row span {
    font-size: 0.9em;
    color: #bbb;
}

.user-page-info .row .dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #bbb;
    margin: 6px 8px;
    vertical-align: top;
    position: relative;
    top: 2px;
}

.send-post-form {}

.send-post-form {
    background: #f5f8fa;
}

.wall {
    margin-top: 15px;
}

.post-holder {
    margin-top: 15px;
}

.post-holder .user-avatar {
    padding-right: 12px;
}

.post-holder .post {
    abox-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
    padding: 12px 12px 13px;
    background: #f5f8fa;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    border-radius: 3px;
    border-bottom: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
}

.post .post-header {
    display: flex;
}

.post .post-header .spacer {
    flex: 1;
}

p.status {
    margin: 0px;
    padding: 0px;
    color: #444;
    font-size: 0.9em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

a.name {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

abbr.time {
    text-decoration: none;
    color: #999;
    padding: 0px 8px;
}

.post .post-header .info-holder {
    margin-top: 2px;
}

.post .post-header abbr.time {
    padding-left: 0px;
}

.post .post-header .actions button.icon {
    height: 1em;
    line-height: 16px;
}

.post .post-content {
    line-height: 1.462;
    padding-top: 3px;
    overflow: hidden;
    word-wrap: break-word;
}

.post .like {
    display: inline-block;
    margin: 0px -2px 0px -2px;
}

.post .comment {
    display: inline-block;
    margin: 0px -4px 0px 0px;
}

.post .red {
    color: #d2383b;
}

.icon {
    background: none;
    border: none;
    position: relative;
    height: 2em;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.52);
    color: rgba(0, 0, 0, 0.52);
    transition: .22s color;
}

button.icon:hover,
a.icon:hover {
    cursor: pointer;
    color: #fff;
    color: #000;
}

.mobile-show {
    display: none;
}

.popup_layer {
    display: none;
    background: rgba(0, 0, 0, .2);
    position: fixed;
    z-index: 10000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.popup_layer.show {
    display: block;
}

.popup {
    position: absolute;
    background: #fff;
    max-width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup_header_holder {}

.popup_header {
    background: #e54a55;
    padding: 15px 20px;
    font-size: 18px;
    color: #fff;
}

.popup_header .close {
    color: #fff;
    cursor: pointer;
}

.popup_content {
    padding: 15px;
}

@media screen and (max-width: 768px) {
    .left-wrap .app-bar {
        width: 42px;
    }
    .app-bar .app-bar-link {
        font-size: 18px;
        height: 34px;
    }
    .app-bar .app-bar-link .icon {
        display: block;
        padding-top: 7px;
    }
    .app-bar .app-bar-text {
        display: none;
    }
    .left-wrap .app-content {
        position: absolute;
        z-index: 99;
        left: -350px;
        width: 330px;
        top: 0;
    }
    .app-content-wrap {
        width: 330px;
    }
    .page-content {
        width: calc( 100% - 42px);
        padding: 0px 10px;
    }
}

@media screen and (max-width: 480px) {
    .mobile-hide {
        display: none!important;
    }
    .mobile-show {
        display: block!important;
    }
    .left-wrap {
        position: inherit;
    }
    .app-bar a.app-bar-link:hover {
        background: transparent;
    }
    .app-bar a.app-bar-link.selected {
        background: rgba(0, 0, 0, 0.2);
        border: none;
    }
    .left-wrap .app-content {
        width: 100%;
        left: -100%;
        position: fixed;
    }
    .app-content-wrap {
        width: 100%;
    }
    .page-content {
        width: 100%;
        margin-bottom: 44px;
        padding: 0px;
    }
    .user-page-header {
        padding-left: 10px;
    }
    .full-viewport-height {
        height: calc( 100vh - 44px);
    }
    .left-wrap .app-bar {
        position: fixed;
        bottom: 0px;
        min-height: 0px;
        height: auto;
        width: 100%;
    }
    .left-wrap .app-bar ul {
        min-height: 0px;
        height: auto;
        flex-direction: row;
        margin: 0px;
    }
    .left-wrap .app-bar ul li:first-child {
        margin-top: 0px;
    }
    .left-wrap .app-bar ul li {
        display: inline-block;
        float: left;
        flex: 1;
    }
    .app-bar .app-bar-link {
        margin: 0px;
        height: 44px;
    }
    .app-bar .app-bar-link .icon {
        padding: 0px;
        line-height: 44px;
    }
}

.fll {
    float: left;
}

.flr {
    float: right;
}

.clearfix {
    clear: both;
    display: table;
    width: 100%;
    position: relative;
}
